.ipynb_checkpoints/
.virtual_documents/
\[Project\]/MovieCommentAnalysis/mlruns/
\[Project\]/MovieCommentAnalysis/outputs/
\[Project\]/MovieCommentAnalysis/Model/
Project/MovieCommentAnalysis/mlruns/
Project/MovieCommentAnalysis/outputs/
Project/MovieCommentAnalysis/Model/
Project/CSRTrendAnalysis/Data/NaverNews_키워드전체카테고리사회.csv
Project/CSRTrendAnalysis/Data/df_prepcateg2_(1,2).csv
Project/CSRTrendAnalysis/Result/WordFreq/co_categ_edgelist_direct.csv
Project/CSRTrendAnalysis/Result/WordFreq/co_categ_edgelist_undirect.csv
Project/CSRTrendAnalysis/Result/WordFreq/co_edgelist_direct.csv
Project/CSRTrendAnalysis/Result/WordFreq/co_edgelist_undirect.csv
Project/NewsTrendAnalysis/CSR/Result/WordFreq/NgramRange2/
Project/EducationCompetition/Model/DL_20250607_001909.keras
Project/EducationCompetition/Model/
Project/SubwayPrediction/Model/
Brand/KTY/Model/
